@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}
.logo{
    cursor: pointer;
}
.head{
    width: 85vw;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
    margin: 4rem auto 15rem;
}
.button-try{
    width: 100%;
    min-width: 8rem;
    border: 1px solid hsl(322, 100%, 66%);
    color: hsl(322, 100%, 66%);
    padding: 0.5rem 0;
    text-align: center;
    border-radius: 2.5rem;
    cursor: pointer;
}
.button-try:hover{
    box-shadow: 0 0 4px hsla(321, 100%, 78%, 0.11),
                0 0 8px hsla(321, 100%, 78%, 0.11),
                0 0 16px hsla(321, 100%, 78%, 0.11);
    border-color: hsla(321, 100%, 78%);
}
.heading{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
.description{
    line-height: 1.5rem;
}
.main{
    margin: 6rem 7rem;
    text-align: center;
}
.main .heading{
    font-size: 3em;
    margin: 1rem 0;
}
.main .description{
    font-size: 1.25em;
    width: 40vw;
    margin: 1rem auto;
}
.button-get-started{
    width: 30vw;
    background-color: hsl(322, 100%, 66%);
    padding: 1.5rem 0;
    border-radius: 2.5rem;
    color: hsl(207, 100%, 98%);
    font-size: 1.25em;
    box-shadow: -2px 8px 8px hsla(192, 100%, 9%, 0.15),
                0 0 16px hsla(192, 100%, 9%, 0.25);
    cursor: pointer;
    margin: 3rem auto;
}
.button-get-started:hover{
    background-color: hsl(321, 100%, 78%);
}
.image-screen-mockups{
    margin: 4rem 0;
    max-width: 78vw;
}
.stats{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
}
.stats div{
    position: relative;
}
.stats .data{
    font-size: 6em;
    font-weight: 700;
    margin: 1rem 0 0rem;
}
.stats .stat-name{
    font-size: 1.25em;
    font-weight: 600;
    margin: 0;
}
.stats .icon{
    width: 2rem;
    position: absolute;
    left: 0.5rem;
}
.curved-sections{
    width: 100%;
    margin: 0 0 -0.4rem;
}
.feature-section{
    background-color: hsl(207, 100%, 98%);
    padding: 5rem 8rem;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    justify-content: space-between;
    align-items: center;
}
.feature-section img{
    width: 90%;
}
.feature-section .heading{
    font-size: 2.5em;
    margin: 1rem 0;
}
.feature-section .description{
    margin: 1rem 0;
    font-size: 1em;
    width: 90%;
    font-weight: 600;
}
.flowing-conversations{
    background-color: #fff;
    margin: 7rem 0;
}
.flowing-conversations img{
    grid-area: 1 / 1 / 1 / 1;
}
.section{
    text-align: center;
    margin: 9rem 0;
}
.section .heading{
    font-size: 2.5em;
}
.footer{
    background-color: hsl(192, 100%, 9%);
    color: hsl(207, 100%, 98%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    justify-content: space-around;
    padding: 8rem 7rem 5rem;
}
.footer .info{
    font-size: 0.9em;
}
.footer .info .description{
    width: 60%;
    margin: 1rem 0;
}
.contact{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: start;
    align-items: center;
    gap: 1rem;
}
.social-media{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 3rem;
}
.social-media .icon{
    font-size: 2.5em;
    margin: 0 0.2rem;
    cursor: pointer;
}
.social-media .icon:hover{
    color: aqua;
}
.newsletter .title{
    font-size: 1.5em;
    margin: 0;
    text-transform: uppercase;
}
.newsletter .description{
    width: 70%;
    font-size: 0.85em;
}
.input-form{
    display: grid;
    margin: 3rem 0;
    grid-template-columns: auto auto;
    gap: 2rem;
}
.input-form .input-email{
    outline: none;
    border-radius: 5px;
    border: none;
    width: 100%;
    font-size: 1.5em;
    color: hsl(192, 100%, 9%);
}
.input-form .button-subscribe{
    text-align: center;
    padding: 0.90rem 1rem;
    margin: 0;
    background-color: hsl(322, 100%, 66%);
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
}
.input-form .button-subscribe:hover{
    background-color: hsl(321, 100%, 78%);
}
@media (max-width: 900px){
    body{
        font-size: 13px;
    }
    .head{
        margin: 0.5rem auto 8rem;
    }
    .description{
        width: 65% !important;
    }
    .head .button-try{
        min-width: 6rem;
        font-size: 0.75em;
    }
    .head .logo{
        width: 50%;
    }
    .main{
        margin: 4rem 2rem;
    }
    .main .heading{
        font-size: 2.5em;
    }
    .main .description{
        font-size: 1.2em;
        margin: auto;
    }
    .button-get-started{
        width: 60%;
        font-size: 1em;
        padding: 0.8rem 0;
    }
    .stats, .feature-section, .footer{
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        gap: 3rem;
    }
    .stats{
        gap: 6rem;
    }
    .stats .data{
        font-size: 5em;
    }
    .top-1{
        content: url("./images/bg-section-top-mobile-1.svg");
    }
    .top-2{
        content: url("./images/bg-section-top-mobile-2.svg");
    }
    .bottom-1{
        content: url("./images/bg-section-bottom-mobile-1.svg");
    }
    .bottom-2{
        content: url("./images/bg-section-bottom-mobile-2.svg");
    }
    .footer-top{
        content: url("./images/bg-footer-top-mobile.svg");
    }
    .feature-section{
        padding: 4rem 1.5rem;
        text-align: center;
    }
    .feature-section .heading{
        font-size: 1.75em;
    }
    .feature-section .description{
        width: 100%;
        font-size: 1.2em;
        line-height: normal;
        margin: auto;
    }
    .feature-section img{
        margin: auto;
        width: 75%;
        grid-area: 1 / 1 / 1 / 1;
    }
    .flowing-conversations{
        margin: 3rem 0;
    }
    .section .heading{
        font-size: 2em;
    }
    .footer{
        padding: 2rem;
        gap: 7rem;
    }
    .footer .logo{
        width: 65%;
        max-width: 13rem;
    }
    .newsletter{
        grid-area: 1 / 1 / 1 / 1;
    }
    .input-form{
        display: block;
    }
    .input-form .input-email{
        padding: 1rem;
        width: calc(100% - 2rem);
        margin: 0.5rem 0;
    }
    .input-form .button-subscribe{
        width: calc(50% - 2rem);
        margin: 0.5rem 0;
        position: relative;
        float: right;
        padding: 1rem;
    }
}
@media (max-width: 425px){
    .description{
        width: 100% !important;
    }
}